
    <tr>
    <% @users.each do |result| %>      
      <td>User ID:<%= result.id %></td><br/>
      <td>First Name:<%= result.first_name %></td><br/>
      <td>Last Name:<%= result.last_name %></td><br/>
      <td>Email:<%= result.email %></td><br/>
      <%= link_to 'Show this user only', user_path(result) %>
    </tr>

    <br/>
    <br/>

    <% end %>

    <%= link_to 'Back to home', root_path %>

